.home-container {
  display: flex;
  .all-movies {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid #fdc827;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .view-all {
      color: #ff9900;
      cursor: pointer;
    }
  }

  .movies-thumbnail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .movie {
      .cover {
        img {
          border-radius: 5px;
        }
      }
      .detail {
        width: 140px;
        .name {
          font-weight: bold;
          height: 50px;
          margin-top: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .image-margin {
    width: 140px;
  }

  .popular-movies {
    width: 25%;
    padding: 20px 40px;
    font-size: "Roboto", sans-serif;
    .movies {
      .movie {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        align-items: center;
        justify-content: space-between;
        .name {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

.view-all{
  color: #ff9900;
  text-align: right;
  margin-top: 30px;
  cursor: pointer;
  
}

.rating {
  padding-right: 45px;
  position: relative;
  .rating-value {
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: bold;
  }
}
